* {
	padding: 0;
	margin: 0;
}

body {
	max-width: 1440px;
	background-color: #f1f1f1;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	font-family: Inter, Arial, sans-serif;
}

.header__top {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);

	background-color: #fff;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	margin: 1px;
}

.header__description {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 32px;
}

.header__button-back {
	width: 25px;
	height: 25px;
	margin-right: 8px;
	border: none;
	background: none;
	background-image: url(./images/Back\ Outline.svg);
}

.header__button-back:hover {
	opacity: 0.8;
}

.header__text {
	font-weight: 500;
	font-size: 18px;
	line-height: 21.09px;
}

.header__text-span {
	font-weight: 400;
	font-size: 18px;
	line-height: 21.09px;
}

.header__group {
	display: flex;
	flex-direction: row;
}

.header__group-button {
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;
	margin-right: 32px;
}

.header__group-icon {
	width: 24px;
	height: 24px;
}

.header__group-icon:hover {
	opacity: 0.8;
}

.header__group-description {
	margin-top: 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.41px;
}

.header__bottom {
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #fafafa;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.header__bottom-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 98px;
	margin: auto;
	border: 0;
	background: none;
}

.header__bottom-icon {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

.header__bottom-description {
	font-weight: 400;
	font-size: 14px;
	line-height: 16.41px;
}

.header__bottom-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 32px;
}
.header__bottom-group:last-child {
	margin-right: 32px;
}

.header__bottom-button {
}

.header__bottom-icon {
}

.header__bottom-description {
}

.main {
	display: flex;
	flex-direction: row;
}
.main__container {
}
.comment {
	margin: 2.222vw;
	width: min(100%, 1080px);
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
	justify-content: center;
	align-items: center;
}
.comment__content {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;
	background-color: #fff;
}
.comment__image {
	margin: 5.19% auto 0;
	width: min(100%, 1016px);
	max-height: 424px;
	object-fit: cover;
}
.comment__info {
	margin: 2.96%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
}
.comment__icon {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}
.comment__text {
	font-size: 14px;
	font-weight: 400;
	line-height: 16.41px;
}

.comment__text-user {
	color: #5095ec;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.41px;
}

.comment__details {
	width: min(100%, 1016px);
	margin-left: 2.96%;
	border-left: 2px solid rgb(211, 216, 222);
	padding-left: 10px;
}
.comment__description {
	font-size: 14px;
	font-weight: 400;
	line-height: 16.41px;
}
.comment__time {
	margin-top: 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.41px;
	color: rgba(143, 143, 143, 1);
}

.comment__time-clock {
	font-style: italic;
}

.comment__actions {
}
.comment-action {
}
.comment-action__count {
}
.placeholder {
}
.placeholder__item {
}
.placeholder__text {
}
.placeholder__details {
}
.placeholder__time {
}
.placeholder__button {
}

.dgjdkfg {
	width: 264px;
	height: 296px;
	background-color: #111;

	padding: 32px, 50px, 32px, 50px;
}
.fsddg {
	width: 264px;
	height: 312px;
	background-color: #111;
}
.gfdgfh {
	width: 264px;
	height: 190px;
	background-color: #111;
}

.dsgsdggfgd {
	display: grid;
	gap: 16px;
	width: 264px;
}
