.profile {
	margin: 2.222vw;
	display: flex;
	flex-direction: column;
	gap: 2.222vw;
	min-width: 18.33%;
}

@media (max-width: 1045px) {
	.profile {
		flex-direction: row;
	}
}

@media (max-width: 600px) {
	.profile {
		flex-direction: column;
	}
}
