.header__bottom-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 98px;
	height: 100%;
	margin: auto;
	border: 0;
	background: none;
	cursor: pointer;
}
.header__bottom-button.active {
	background: rgba(241, 241, 241, 1);
	height: 40px;
}
