.header__button-back {
	width: 25px;
	height: 25px;
	margin-right: 8px;
	border: none;
	background: none;
	background-image: url(../../../images/Back\ Outline.svg);
}
.header__button-back:hover {
	opacity: 0.8;
}
